.header {
  background-color: #3091f2;
  height: 72px;
  line-height: 72px;
}
.ivu-menu-item {
  font-size: 16px;
}
.layout-logo {
  line-height: 72px;
  color: #fff;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 0px;
  left: 20px;
}
.layout-logo h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 26px;
}
.layout-logo h1 .fdy-a {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}
.layout-logo h1 .fdy-a:hover {
  text-decoration: underline;
}
.layout-nav {
  float: right;
  padding-right: 20px;
  color: #fff;
}
.layout-nav a {
  color: #fff;
}
.layout-nav .shu {
  margin: 0 10px;
  position: relative;
  top: -1px;
}
.layout-nav .ivu-dropdown {
  line-height: 30px;
}
.layout-nav .ivu-dropdown-item {
  padding: 0;
}
.layout-nav .ivu-dropdown-item a {
  padding: 7px 16px;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.outer-footer {
  background: #fff;
  min-width: 1280px;
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #dcdee2;
}
.outer-footer a {
  color: #333;
}
.mbxdh-bl {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.page-btn-box {
  margin-top: 20px;
  text-align: right;
}
.cont-bl .czbtn-bl {
  float: right;
}
.set-bl {
  width: 700px;
  margin: 0 auto;
}
.set-bl .set-title {
  font-weight: 700;
  margin-bottom: 15px;
}
.set-bl .set-item {
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.set-bl .set-item .set-inner-item {
  margin-bottom: 10px;
}
.set-bl .set-item .set-inner-title {
  position: relative;
  top: 5px;
}
.set-bl .set-item:last-child {
  border-bottom: none;
}
.set-bl .set-inner-title {
  padding-right: 20px;
}
.set-bl .day-bl {
  position: relative;
  top: 5px;
  left: 10px;
}
.set-bl .choice-cl {
  position: relative;
  top: 5px;
}
.set-bl .ts-item .ivu-row {
  margin-bottom: 15px;
}
.set-bl .ts-item .ivu-row:nth-child(3) {
  margin-bottom: 0;
}
.set-bl .day-count {
  position: relative;
  top: 5px;
}
.set-bl .ivu-input[disabled],
.set-bl fieldset[disabled] .ivu-input {
  color: #333;
}
.error-modal .btn-bl {
  text-align: center;
}
.signlelr-modal .ivu-modal-body {
  padding: 16px 30px;
}
.error-content {
  width: 620px;
  margin: 100px auto;
  text-align: center;
}
.error-content .icon-box {
  text-align: center;
}
.error-content .icon-box .ivu-icon {
  font-size: 60px;
  color: #f90;
}
.error-content .error-p {
  margin: 37px 0 10px 0;
  font-size: 28px;
  color: #333;
}
.error-content .error-message {
  font-size: 14px;
  color: #666;
}
.error-content .err-btnbl {
  margin-top: 15px;
}
